.section3 {
  background-color: #252525;
  color: white;
}

.github {
  width: 25px;
  height: auto;
  background-color: ivory;
  border-radius: 50%;
}

.linkedin {
  width: 25px;
  height: auto;
  background-color: ivory;
}